In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_parquet("../Dados/BikeData-Processed.parquet")
df.head()

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,estacao_fim_longitude,id_bike,tipo_usuario,ano_nascimento,genero
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,Desconhecido
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,Masculino
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,Masculino
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,Masculino
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,Masculino

In [3]:
def haversine(estacao_inicio_latitude, estacao_inicio_longitude, estacao_fim_latitude, estacao_fim_longitude):
    """
    Calculate the distance between two points on the Earth's surface using the haversine formula.
    :param lat1: Latitude of the first point in degrees.
    :param lon1: Longitude of the first point in degrees.
    :param lat2: Latitude of the second point in degrees.
    :param lon2: Longitude of the second point in degrees.
    :return: Distance between the two points in kilometers.
    """
    # Convert latitude and longitude from degrees to radians
    lat1_rad = math.radians(estacao_inicio_latitude)
    lon1_rad = math.radians(estacao_inicio_longitude)
    lat2_rad = math.radians(estacao_fim_latitude)
    lon2_rad = math.radians(estacao_fim_longitude)

    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = math.sin(dlat/2)**2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    distance = 6371 * c  # Radius of the Earth in kilometers
    return distance

In [4]:
def calculate_haversine(row):
    return haversine(row['estacao_inicio_latitude'], row['estacao_inicio_longitude'], row['estacao_fim_latitude'], row['estacao_fim_longitude'])

In [5]:
df['distancia'] = df.apply(calculate_haversine, axis=1)
df

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,estacao_fim_longitude,id_bike,tipo_usuario,ano_nascimento,genero,distancia
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,Desconhecido,2.511133
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,Masculino,1.650353
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,Masculino,1.181673
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,Masculino,0.523227
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,Masculino,0.949166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1658,2019-06-12 22:09:26.375,2019-06-12 22:37:05.244,3310,14 St & 7 Ave,40.663779,-73.983968,414,Pearl St & Anchorage Pl,40.702819,-73.987658,34104,Subscriber,1981,Feminino,4.352135
999996,294,2019-10-04 15:13:45.883,2019-10-04 15:18:40.101,3062,Myrtle Ave & Marcy Ave,40.695398,-73.949549,373,Willoughby Ave & Walworth St,40.693317,-73.953820,14887,Subscriber,1986,Masculino,0.428011
999997,1386,2019-06-09 13:46:00.828,2019-06-09 14:09:07.822,311,Norfolk St & Broome St,40.717227,-73.988021,143,Clinton St & Joralemon St,40.692395,-73.993379,25742,Subscriber,1987,Masculino,2.797932
999998,1648,2019-09-26 17:48:29.830,2019-09-26 18:15:57.963,266,Avenue D & E 8 St,40.723684,-73.975748,3680,E 43 St & 5 Ave,40.754121,-73.980252,32518,Subscriber,1995,Masculino,3.405666
999999,506,2019-05-29 16:56:05.696,2019-05-29 17:04:32.584,3345,Madison Ave & E 99 St,40.789485,-73.952429,3507,Park Ave & E 124 St,40.804555,-73.939686,25060,Subscriber,1958,Masculino,1.989648