In [2]:
import pandas as pd 
import requests
import os

In [3]:
df = pd.read_parquet("../Dados/BikeData-Processed.parquet")
df.head()

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,estacao_fim_longitude,id_bike,tipo_usuario,ano_nascimento,genero
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,-73.979661,20049,Customer,1969,Desconhecido
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,-74.016584,33847,Subscriber,1987,Masculino
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,-73.981656,30284,Subscriber,1971,Masculino
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,-73.944118,31542,Subscriber,1964,Masculino
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,-73.988084,18363,Subscriber,1979,Masculino

In [4]:
#separando o datetime em unidades de tempo
df['dia_inicio'] = df['inicio_viagem'].dt.day
df['mes_inicio'] = df['inicio_viagem'].dt.month
df['ano_inicio'] = df['inicio_viagem'].dt.year
df['dia_fim'] = df['fim_viagem'].dt.day
df['mes_fim'] = df['fim_viagem'].dt.month
df['ano_fim'] = df['fim_viagem'].dt.year
df['hora_inicio'] = df['inicio_viagem'].dt.hour
df['minuto_inicio'] = df['inicio_viagem'].dt.minute
df['segundo_inicio'] = df['inicio_viagem'].dt.second
df['hora_fim'] = df['fim_viagem'].dt.hour
df['minuto_fim'] = df['fim_viagem'].dt.minute
df['segundo_fim'] = df['fim_viagem'].dt.second

df

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,...,ano_inicio,dia_fim,mes_fim,ano_fim,hora_inicio,minuto_inicio,segundo_inicio,hora_fim,minuto_fim,segundo_fim
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,...,2018,25,11,2018,18,21,38,18,36,21
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,...,2018,13,8,2018,18,25,50,18,36,59
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,...,2018,18,12,2018,20,12,15,20,20,57
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,...,2018,18,5,2018,14,23,52,14,28,22
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,...,2018,14,8,2018,19,0,15,19,7,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1658,2019-06-12 22:09:26.375,2019-06-12 22:37:05.244,3310,14 St & 7 Ave,40.663779,-73.983968,414,Pearl St & Anchorage Pl,40.702819,...,2019,12,6,2019,22,9,26,22,37,5
999996,294,2019-10-04 15:13:45.883,2019-10-04 15:18:40.101,3062,Myrtle Ave & Marcy Ave,40.695398,-73.949549,373,Willoughby Ave & Walworth St,40.693317,...,2019,4,10,2019,15,13,45,15,18,40
999997,1386,2019-06-09 13:46:00.828,2019-06-09 14:09:07.822,311,Norfolk St & Broome St,40.717227,-73.988021,143,Clinton St & Joralemon St,40.692395,...,2019,9,6,2019,13,46,0,14,9,7
999998,1648,2019-09-26 17:48:29.830,2019-09-26 18:15:57.963,266,Avenue D & E 8 St,40.723684,-73.975748,3680,E 43 St & 5 Ave,40.754121,...,2019,26,9,2019,17,48,29,18,15,57
999999,506,2019-05-29 16:56:05.696,2019-05-29 17:04:32.584,3345,Madison Ave & E 99 St,40.789485,-73.952429,3507,Park Ave & E 124 St,40.804555,...,2019,29,5,2019,16,56,5,17,4,32

In [5]:
#calculando a idade dos usuários
df['idade'] = df['ano_inicio'] - df['ano_nascimento']
df

,duracao_viagem,inicio_viagem,fim_viagem,id_estacao_inicio,nome_estacao_inicio,estacao_inicio_latitude,estacao_inicio_longitude,id_estacao_fim,nome_estacao_fim,estacao_fim_latitude,...,dia_fim,mes_fim,ano_fim,hora_inicio,minuto_inicio,segundo_inicio,hora_fim,minuto_fim,segundo_fim,idade
0,882,2018-11-25 18:21:38.774,2018-11-25 18:36:21.472,423,W 54 St & 9 Ave,40.765849,-73.986905,476,E 31 St & 3 Ave,40.743943,...,25,11,2018,18,21,38,18,36,21,49
1,669,2018-08-13 18:25:50.544,2018-08-13 18:36:59.968,3467,W Broadway & Spring Street,40.724947,-74.001659,327,Vesey Pl & River Terrace,40.715338,...,13,8,2018,18,25,50,18,36,59,31
2,521,2018-12-18 20:12:15.062,2018-12-18 20:20:57.017,411,E 6 St & Avenue D,40.722281,-73.976687,504,1 Ave & E 16 St,40.732219,...,18,12,2018,20,12,15,20,20,57,47
3,270,2018-05-18 14:23:52.105,2018-05-18 14:28:22.491,437,Macon St & Nostrand Ave,40.680983,-73.950048,3047,Halsey St & Tompkins Ave,40.682369,...,18,5,2018,14,23,52,14,28,22,54
4,441,2018-08-14 19:00:15.867,2018-08-14 19:07:37.052,519,Pershing Square North,40.751873,-73.977706,498,Broadway & W 32 St,40.748549,...,14,8,2018,19,0,15,19,7,37,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1658,2019-06-12 22:09:26.375,2019-06-12 22:37:05.244,3310,14 St & 7 Ave,40.663779,-73.983968,414,Pearl St & Anchorage Pl,40.702819,...,12,6,2019,22,9,26,22,37,5,38
999996,294,2019-10-04 15:13:45.883,2019-10-04 15:18:40.101,3062,Myrtle Ave & Marcy Ave,40.695398,-73.949549,373,Willoughby Ave & Walworth St,40.693317,...,4,10,2019,15,13,45,15,18,40,33
999997,1386,2019-06-09 13:46:00.828,2019-06-09 14:09:07.822,311,Norfolk St & Broome St,40.717227,-73.988021,143,Clinton St & Joralemon St,40.692395,...,9,6,2019,13,46,0,14,9,7,32
999998,1648,2019-09-26 17:48:29.830,2019-09-26 18:15:57.963,266,Avenue D & E 8 St,40.723684,-73.975748,3680,E 43 St & 5 Ave,40.754121,...,26,9,2019,17,48,29,18,15,57,24
999999,506,2019-05-29 16:56:05.696,2019-05-29 17:04:32.584,3345,Madison Ave & E 99 St,40.789485,-73.952429,3507,Park Ave & E 124 St,40.804555,...,29,5,2019,16,56,5,17,4,32,61